---
import Layout from "../layouts/Layout.astro";
import Scene3D from "../components/Scene3D.tsx";
---

<Layout title="Emanuele Greco" description="3D Portfolio View">
	<main>
		<div class="canvas-container">
			<Scene3D client:only="react" />
		</div>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100vh;
		background: #000000;
		overflow: hidden;
	}
	.canvas-container {
		width: 100%;
		height: 100%;
	}
</style>
