---
import Layout from "../layouts/Layout.astro";
import Scene3D from "../components/Scene3D.tsx";
---

<Layout title="Emanuele Greco" description="Personal Portfolio">
	<main>
		<Scene3D client:only="react" />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100vh;
		background: black;
		overflow: hidden;
	}
</style>
